@use './colors' as c;

@mixin base-button($back: c.$primary-dark, $text: c.$primary-light) {
    border: none;
    cursor: pointer;
    color: $text;
    background-color: $back;

    &:disabled {
        cursor: not-allowed !important;
        background-color: lightgrey !important;
    }
}

@mixin outline-button($back: c.$primary-dark, $text: c.$light) {
    @include base-button($back, $text);

    border: 0.13rem solid $text;
    transition: all 0.2s ease;

    &:hover {
        border-color: rgba(c.$dark, 0.5);
    }

    &:active {
        border-color: rgba(c.$dark, 1);
        background-color: rgba(c.$dark, 0.2);
    }
}

@mixin darken-actions($back: c.$primary-dark, $text: c.$primary-light) {
    &:hover {
        background-color: darken($back, 10);
    }

    &:active {
        background-color: darken($back, 20);
    }
}

@mixin scale-actions() {
    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}
